<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js" type="text/javascript"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
    </script>
    <title>Say It With Sweets Page 3: Cookie Information</title>
</head>
<body>
    <header>
        <h1> Say It With Sweets! </h1>
    </header>
    <div class="navBar">
            <!-- <input type="checkbox" id="menu">
            <label for="menu">Menu</label> -->
            <button id="menuBTN" onclick="showMenu()">Show Menu</button>
            <a href="contact.html" class="right">Contact + Hours</a>
            <a href="socialmed.html" class="right">Social Media</a>
            <a href="index.html" class="right">Home</a>
        </div>
    <div class="board"> 
        <div id="sidebar">
            <div id="side">
                <h4><a href="index.html">Menu / About Us</a></h4>
                <button class="accordion">Products</button>
                <div class="panel">
                    <ul>
                        <li><a href="cakemain.html">Cakes</a></li>
                        <li><a href="cupcakemain.html">Cupcakes</a></li>
                        <li><a href="cookiesmain.html">Cookies</a></li>
                    </ul>
                </div>
               
                <button class="accordion">Bundles</button>
                <div class="panel">
                    <ul>
                        <li><a href="cookibundles.html">Cookie Gift Boxes</a></li>
                        <li><a href="index.html">Cupcake Bouquets</a></li>
                    </ul>
                </div>
                <button class="accordion">Events/Holidays</button>
                <div class="panel">
                    <ul>
                        <li><a href="index.html">Graduation</a></li>
                        <li><a href="index.html">Fall/Halloween</a></li>
                        <li><a href="index.html">Thanksgiving</a></li>
                        <li><a href="index.html">Christmas</a></li>
                        <li><a href="index.html">New Years</a></li>
                        <li><a href="index.html">Valentines</a></li>
                        <li><a href="index.html">Easter</a></li>
                    </ul> 
                </div>               
            </div>
        </div>
        <div class="Main3">
            <div id="tabs">
                <ul>
                  <li><a href="#tabs-1">Custom Made Cookies</a></li>
                  <li><a href="#tabs-2">Cookie Tray</a></li>
                  <li><a href="#tabs-3">Cookie Cake</a></li>
                </ul>
                <div id="tabs-1">
                  <div class="slideshow-container-2">
                    <div class="slideshow">
                        <img src="/images/customcookies1.jpg" alt="Blue and Lightblue cookies in the shape of sea shells">
                    </div>
                    <div class="slideshow">
                        <img src="/images/customcookies2.jpg" alt="Black and Gold Cookies that day happy birthday">
                    </div>
                    <div class="slideshow">
                        <img src="/images/customcookies3.jpg" alt="Shark Cookie and Lifesaver Cookie">
                    </div>
                    <div class="slideshow">
                        <img src="/images/customcookies4.jpg" alt="Cookies in the Shape of an Animal">
                    </div>
                    <div class="slideshow">
                        <img src="/images/baseballcookies.jpg" alt="Custom Cookies Decorated to Look like a Baseball">
                    </div>
                </div>
                  <div id="CustomCookiesDesc">
                    <ul>
                        <li>7 Day Notice for 6 Dozen Cookies</li>
                        <li>2 Weeks Notice for More Than 6 Dozen Cookies</li>
                        <li>Call to Determine Price</li>
                    </ul>
                  </div>
                </div>
                <div id="tabs-2">
                    <div class="slideshow-container-2">
                        <div class="slideshow-2">
                            <img src="/images/cookietray1.jpg" alt="An Variety of Cookies Stacked on a Tray">
                        </div>
                        <div class="slideshow-2">
                            <img src="/images/cookietray2.jpg" alt="Christmas Cookies Stacked on a Tray">
                        </div>
                    </div>
                      <div id="CookieTrayDesc">
                        <ul>
                            <li>5 Days in Advance(Minimum)</li>
                            <li>Small (5 Dozen) - $54.00</li>
                            <li>Med. (10 Dozen) - $97.00</li>
                            <li>Lrg. (12 Dozen) - $112.00</li>
                            <li>$8/9  By the Dozen</li>
                            <li><a href="CookieTray.html">More Info...</a></li>
                        </ul>
                      </div>
                </div>
                <div id="tabs-3">
                    <div class="slideshow-container-2">
                        <div class="slideshow-3">
                            <img src="/images/birthday(cookiecake).jpg" alt="Large Cookie (12 Inches) shaped like a baseball">
                        </div>
                        <div class="slideshow-3">
                            <img src="/images/cupcakenewyears1.jpg" alt="Large 12 Inch Cookie Shaped like a clock with cupcakes ontop">
                        </div>
                        <div class="slideshow-3">
                            <img src="/images/cookiecake2.jpg" alt="A Large Cookie with Large Letters that say 'Happy Birthday'
                            with Flowers">
                        </div>
                        <div class="slideshow-3">
                            <img src="/images/cookiecake3.jpg" alt="A Large Cookie with Sprinkles and Frosting That Say Happy Birthday">
                        </div>
                        <div class="slideshow-3">
                            <img src="/images/cookiecake4.jpg" alt="A Large Cookie That is Red and Blue">
                        </div>
                    </div>
                      <div id="CookieCakeDesc">
                        <ul>
                            <li>Chocolate Chip (12 Inches Long)</li>
                            <li>5 Days Notice at Minimum</li>
                            <li>Message Alone- $35.00</li>
                            <li>Decorated - $40.00</li>
                        </ul>
                      </div>
                </div>
              </div>
            </div>
        </div>
</body>
</html>